.search_bar{
  width:200px; height:25px; border:1px solid #adadad; border-radius:3px;
}
.search_button{
  width:80px; height:29px; border-radius:3px; border:none; color: white; background-color:#4285F4
}
.advanced_button{
  width:80px; height:29px; border-radius:3px; border:none; color: white; background-color:#4285F4
}
  
