{% extends "base.html" %}

{% block title %}browse | 共研{% endblock %}
{% block content %}
{% load static %}

<a href="/database/browse">所有人員</a>
<a href="/database/browse/pi">PI</a>
<a href="/database/browse/staff">助理</a>
<a href="/database/browse/card">門禁卡</a>

<hr>

<table id="pi_table" class="display compact" style="width:100%">
  <thead>
    <tr>
      <th>姓名</th>
      <!-- pi -->
      <th>審核通過日</th>
      <th>性質</th>
      <th>連絡窗口</th>
      <th>細胞室</th>
      <th>危害化學品</th>
      <th>毒化物</th>
      <th>前一年度展延日期</th>
      <th>前一年度展延結果</th>
      <th>當年度展延日期</th>
      <th>當年度展延結果</th>
      <th>歸還日</th>
      <!-- person 12- -->
      <th>分機</th>
      <th>簡碼</th>
      <th>手機</th>
      <th>信箱</th>
      <th>職稱</th>
      <th>單位</th>
      <th>員工編號</th>
      <th>領用門禁卡</th>
      <th>共研</th>
      <th>離職</th>
      <th>類別</th>
      <th>持有卡數</th>
      <th>剩餘卡數</th>
    </tr>
  </thead>

  <tbody>
    {% for p, c, r in pi_list_zip_holding_cards %}
    <tr>
      {% if p.uid.leave == True%}
        <td><a href="{{ p.get_absolute_url }}">{{p.uid}}</a> (離)</td>
      {% else %}
        <td><a href="{{ p.get_absolute_url }}">{{p.uid}}</a></td>
      {% endif %}

      <!-- pi -->
      <td>{{p.pass_date}}</td>
      <td>{{p.property}}</td>
      <!-- <td>
        {% for c in p.RAs.all %}
        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
        {% endfor %}

        {% for c in p.card_RAs.all %}
        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
        {% endfor %}
      </td> -->
      <td><a href="{{ p.contact.get_absolute_url }}">{{p.contact}}</a></td>
      <td>{{p.culture_room}}</td>
      <td>{{p.hazardous_chemicals}}</td>
      <td>{{p.toxic_chenicals}}</td>
      <td>{{p.pre_extension_date}}</td>
      <td>{{p.pre_extension_result}}</td>
      <td>{{p.extension_date}}</td>
      <td>{{p.extension_result}}</td>
      <td>{{p.return_date}}</td>
      <!-- person -->
      <td>{{p.uid.extension}}</td>
      <td>{{p.uid.number}}</td>
      <td>{{p.uid.phone}}</td>
      <td>{{p.uid.mail}}</td>
      <td>{{p.uid.job_title}}</td>
      <td>{{p.uid.organization}}</td>
      <td>{{p.uid.employee_ID}}</td>
      <td>{{p.uid.access_card}}</td>
      <td>{{p.uid.core_lab}}</td>
      <td>{{p.uid.leave}}</td>
      <td>{{p.uid.role}}</td>
      <!-- 持有卡數 -->
      <td>{{c}}</td>
      <!-- 剩餘卡數 -->
      <td>{{r}}</td>

    </tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <th>姓名</th>
      <!-- pi -->
      <th>審核通過日</th>
      <th>性質</th>
      <th>連絡窗口</th>
      <th>細胞室</th>
      <th>危害化學品</th>
      <th>毒化物</th>
      <th>前一年度展延日期</th>
      <th>前一年度展延結果</th>
      <th>當年度展延日期</th>
      <th>當年度展延結果</th>
      <th>歸還日</th>
      <!-- person -->
      <th>分機</th>
      <th>簡碼</th>
      <th>手機</th>
      <th>信箱</th>
      <th>職稱</th>
      <th>單位</th>
      <th>員工編號</th>
      <th>領用門禁卡</th>
      <th>共研</th>
      <th>離職</th>
      <th>類別</th>
      <th>持有卡數</th>
      <th>剩餘卡數</th>
    </tr>
  </tfoot>
</table>




{% endblock %}
